
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SECOND APP</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>

    <!-- <h1>This is a picture from django</h1>
    <img src="{% static "images/leetcode.jpg" %}" alt="uh oh, i dont show">
    {% block content %}

    {{insert_me}} -->

    <h1>Hi welcome to Djnago Lecture</h1>
    <h2></h2>

    <div>
        {% if acces_records %}
        <table>
            <thead>
                <th>Site Name</th>
                <th>Date Access</th>
            </thead>

            {% for acc in access_records %}

            <tr>
                <td>{{acc.name}}</td>
                <td>{{acc.Date}}</td>
            </tr>
            {% endfor %}
        </table>

        {% else %}
        <p>NO acces Records found</p>
        {% endif %}
    </div>
    
</body>
{% endblock content %}
</html>